{% extends 'reception/base.html' %}
{% load widget_tweaks %}


{% block content %}

<head>
  <style>
    .custom-inner-wrapper {
      margin: 30px;
      background-color: #f9f9f9;
      border-radius: 20px;
    }

    .custom-container {
      background-color: white;
      padding: 10px;
      border-radius: 12px;
    }

    .form-title {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .input-container input,
    .form-check {
      border: none;
      border-radius: 10px;
      min-height: 50px !important;
      background-color: #f2fefb;
    }

    /* input select field */

    .form-select {
      background-color: #f2fefb !important;
      border: none !important;
      min-height: 50px;
    }

    /* input textarea */

    .form-textarea {
      background-color: #f2fefb !important;
      height: 100px;
      border: none !important;
      width: 100%;
    }


    .button-green {
      background-color: #78D596 !important;
      color: #ffffff !important;
    }
  </style>
</head>

<div class="custom-inner-wrapper">
  <div class="container custom-container p-5">
    <div class="form-title mb-4">Add New Appointment</div>
    <form id="appointmentForm" method="post">
      {% csrf_token %}

      <div class="row mb-4">
        <div class="col-md-6 input-container">
          {{ form.patient|add_class:"form-control" }}
        </div>

        <divv class="col-md-6">
          {{ form.speciality_filter }}
        </divv>

      </div>

      <div class="row mb-4">
        <div class="col-md-4 input-container">
          <label for="id_therapist">Therapist:</label>
          {{ form.therapist|add_class:"form-control" }}
        </div>

        <div class="col-md-4 input-container">
          <label for="id_appointment_date">Appointment Date:</label>
          {{ form.appointment_date|add_class:"form-control" }}
          <div id="dateError" class="text-danger"></div>
        </div>

        <div class="col-md-4 input-container">
          <label for="id_time_slot">Time Slot:</label>
          {{ form.time_slot|add_class:"form-control" }}
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-12">
          {{ form.remarks }}
        </div>
      </div>

      <div class="d-flex flex-row align-items-center justify-content-end">
        <button type="submit" class="btn button-green mx-2">Create Appointment</button>
        <a href="{% url 'list_appointments' %}" class="btn btn-danger">Cancel</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
{% block additional_js %}
<script>
  // Parsing server-rendered therapists data into JavaScript object
  // Assuming you are passing therapists as JSON serialized string in context
  const therapists = JSON.parse("{{ therapists|safe }}");
  let selectedTherapistId = null;

  // DOM Content Loaded Event Listener
  document.addEventListener('DOMContentLoaded', () => {
    initTherapistDropdown();
    initDateValidation();
  });

  function initTherapistDropdown() {
    const therapistDropdown = document.querySelector('#id_therapist');
    therapistDropdown.addEventListener('change', handleTherapistChange);
  }

  function handleTherapistChange(event) {
    selectedTherapistId = event.target.value;
    fetchAvailableSlots();
  }

  function initDateValidation() {
    const appointmentDateField = document.querySelector('#id_appointment_date');
    appointmentDateField.addEventListener('change', validateDate);
  }

  function fetchAvailableSlots() {
    const appointmentDate = document.querySelector('#id_appointment_date').value;
    if (!selectedTherapistId || !appointmentDate) return;
    const url = `/get_available_slots/?therapist_id=${selectedTherapistId}&appointment_date=${appointmentDate}`;
    fetch(url)
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => handleSuccess(data.available_slots))
      .catch(error => {
        console.error("There was an error fetching the slots:", error);
      });
  }

  function handleSuccess(data) {
    let options = "";
    for (let slot of data) {
      const disabledStatus = slot.is_booked ? 'disabled' : '';
      const bgColor = slot.is_booked ? 'red' : 'transparent';
      options += `<option style="background-color: ${bgColor};" value="${slot.id}" ${disabledStatus}>${slot.name}</option>`;
    }
    document.querySelector('#id_time_slot').innerHTML = options;
  }

  function validateDate() {
    const selectedDate = new Date(document.querySelector('#id_appointment_date').value);
    const weekday = selectedDate.getDay();
    const workingDays = therapists.find(t => t.id === parseInt(selectedTherapistId)).working_days;

    const dateError = document.querySelector('#dateError');
    if (!workingDays.includes(weekday)) {
      dateError.textContent = "Therapist is not available on this day.";
    } else {
      dateError.textContent = "";
      fetchAvailableSlots();
    }
  }
</script>

<script>
  $(document).ready(function () {
    // Get a reference to the speciality_filter field
    const specialityFilter = $('#id_speciality_filter');

    // Get a reference to the therapist field
    const therapistField = $('#id_therapist');

    // Add an event listener to the speciality_filter field
    specialityFilter.on('change', function () {
      // Get the selected speciality value
      const selectedSpeciality = $(this).val();

      // Make an AJAX request to a view or API endpoint
      $.ajax({
        url: '/reception/filter_doctors/',  // Replace with the actual endpoint URL
        data: {
          specialities: selectedSpeciality,
        },
        success: function (data) {
          // Clear existing options and add a default option
          therapistField.empty();
          therapistField.append($('<option>', {
            value: '',
            text: 'Select a therapist',  // Change this text as needed
          }));

          // Add options for each doctor from the data array
          $.each(data, function (index, doctor) {
            therapistField.append($('<option>', {
              value: doctor.id,
              text: doctor.name,
            }));
          });
        },
      });
    });
  });
</script>
{% endblock %}