{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- Profile Popup Card -->
<div class="profile-card" id="profileCard">
    <!-- Patient Profile Picture -->
    <div class="profile-picture">
        {% if patient.profile_photo %}
            <img id="profileImg" src="{{ patient.profile_photo.url }}" alt="{{ patient.name}}'s Profile Picture">
        {% else %}
            <img id="profileImg" src="{% static 'images/bear.jpg' %}" alt="Blank Profile Picture">
        {% endif %}
    </div>

    <!-- Patient Details -->
    <div class="patient-details">
        <h2 id="patientName">{{ patient.name }} </h2>

        <p><strong>ID:</strong> <span id="patientID">{{ patient.id }}</span></p>
        <p><strong>Phone:</strong> <span id="patientPhone">{{ patient.phone }}</span></p>
    </div>

    <!-- Action Buttons -->
    <div class="profile-actions">
        <a href="#" class="btn">Add Treatment Package</a>
        {% comment %}    //{% url 'treatment_package_view' patient.id %} {% endcomment %}
        {% if patient.id %}
        <a href="{% url 'schedule_appointment_with_patient' patient.id %}" class="btn">Schedule Appointment</a>
        {% else %}
        <!-- Handle this situation differently -->
        {% endif %}
        <a href="{% url 'create_invoice' %}" class="btn">Create Invoice</a>

    </div>

    <!-- Close Button for Popup -->
    <button class="close-btn" onclick="closeProfilePopup()">X</button>
</div>

{% endblock %}
{% block additional_js %}
<script>
    function fillProfilePopup(data) {
        $("#profileImg").attr("src", data.profile_photo || "{% static 'bear.jpg' %}");
        $("#patientName").text(data.username);
        $("#patientID").text(data.id);
        $("#patientPhone").text(data.phone);
    
        // Assuming profile-overlay exists
        $(".profile-overlay").fadeIn();  
        $("#profileCard").fadeIn();
    }

    function closeProfilePopup() {
        $(".profile-overlay").fadeOut();
        $("#profileCard").fadeOut();
    }
</script>
{% endblock %}




